{% extends "base.html" %}
{% block title %} QUERY {% endblock %}

{% block content %}

<form method="POST">
    <h3 align="center">Type query</h3>

    <div class="form-group">
        <label for="text">query</label>
        <input 
            type="text"
            class="form-control"
            id="query"
            name="query"
            placeholder="{{ query }}"
        >
        <h3 align="center">
            {{ answer }}
        </h3>

        <button type="submit" class="btn btn-primary">GO</button>
    </div>
</form>

{% endblock %}
