<div class="analytics-sidebar">
    
    <div class="analytics-box">
        <h3>Аналітика</h3>

        <h4>{{answer['count_requests']}}</h4>
        
        <div class="most-mentioned mb-4">
            <h4>Найбільш уживані слова</h4>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <span>Трамп, Зеленський, Сірський</span>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <span>Стерненко, Притула, Лапчев...</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="most-resources mb-4">
            <h4>Найбільш згадувані ресурси</h4>

            {{answer['user_requests_url']}}

        <div class="popular-queries">
            <h4>Популярні запити</h4>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1">Україна отримала новий пакет допомоги від ЄС</h6>
                        <small>20.02.25 14:21</small>
                    </div>
                    <small class="text-muted">Політика</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1">Арахмонічне забруднення повітря</h6>
                        <small>26.02.25 20:11</small>
                    </div>
                    <small class="text-muted">Наука</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1">Bitcoin стрімко падає і вже нижче $85 000</h6>
                        <small>26.02.25 10:01</small>
                    </div>
                    <small class="text-muted">Фінанси</small>
                </a>
            </div>
            
            <div class="text-center mt-3">
                <a href="#" class="btn btn-dark btn-sm">Більше</a>
            </div>
        </div>
    </div>
</div>
